# 忽略构建目录及其子目录
build/
bin/

# 忽略所有目录中的中间文件
*.o
*.obj

# 忽略所有目录中的可执行文件
*.exe
*.out
*.a
*.so
myschedule

# 忽略所有目录中的临时文件
*~
*.swp
*.tmp

# 忽略所有目录中的日志文件
*.log

# 忽略 IDE 配置文件
.vscode/
.idea/
*.code-workspace

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略 CMake 生成的构建目录
/tests/CMakeFiles/
/tests/CMakeCache.txt
/tests/Makefile
/tests/test_project
/tests/cmake_install.cmake

# 忽略其他生成的文件
/tests/*.o
/tests/*.obj
/tests/*.exe
/tests/*.out
/tests/*.log

# 忽略data, audio文件夹
data/
audio/
